@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$background-color: hsl(185, 75%, 39%);

$main-forecolor: hsl(229, 23%, 23%);

$sub-forecolor: hsl(227, 10%, 46%);
$secondery-forecolor: hsl(0, 0%, 59%);
